<section mb-5>
  <nav class="navbar mb-5 bg-dark fixed-top text-light ">
    <div class="container ">
      <p class="lead text-center m-auto"><strong><span id = "logo1">Quotes</span> <br><span id ="logo2"> Office</span></strong></p> 
    </div>
  </nav>
</section>
<!-- End of navbar -->

<section class="intro text-center pt-5">
  <div class="container pt-5">
    <p class= "pt-5 "> Reading more is learning more . This is a platform where we share daily inspiration and knowledge. Participate in our quote creation and voting to improve your experience here next time! 
    </p>
  </div>
</section>

