<footer class=" mt-5  text-light">
  <h2 class="text-center"> Our Socials</h2>

  <div class="icons text-center d-flex justify-content-around">
    <a href="https://www.facebook.com/" target="blank"><i class="fa fa-twitter" style="font-size:36px;color:white"></i></a>
    <a href="https://twitter.com/?lang=en" target="blank"><i class="fa fa-facebook-f" style="font-size:36px;color:white"></i></a>
    <a href="https://www.instagram.com/accounts/login/" target="blank"><i class="fa fa-instagram" style="font-size:36px;color:white"></i></a>
    <a href ="https://accounts.google.com/signup/v2/webcreateaccount?hl=en&flowName=GlifWebSignIn&flowEntry=SignUp" target="blank"><i class="fa fa-envelope-o" style="font-size:36px;color:white"></i></a>

  </div>
  <div class= " text-center pt-1 copyright ">
    <i class="fa fa-copyright" style="font-size:24px;color:white"></i>2019 
    QuotesOffice
  </div>

</footer>

