
<app-quote-form (onAddQuote)= "addQuote($event)"></app-quote-form>
<div class="container quote">
    <div class="row ">
      <div class="card m-auto" style="width:70rem;">
        <div class="card mt-3 lead " *ngFor = "let quote of quotes">
        
          <div class="card-body">
            <h5 class="card-title">Quote Aurthor: {{quote.author }} <br></h5>
            <p class="card-text"> <strong> Quote :</strong><span id="quotefont"> {{quote.quotetext}}</span> <br>
              <strong>Quote Submitted by :</strong> {{quote.name}} </p>
              
          </div>
          <div class="card-footer ">
            <div class="icons mt-auto">
              <img (click)='onDelete(quote.id)' src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png"/>
              <img (click)="upvote(quote.id)" src="https://img.icons8.com/external-those-icons-fill-those-icons/24/000000/external-like-feedback-those-icons-fill-those-icons.png"/>{{quote.upvote}}
              <img  (click)="downvote(quote.id)" src="https://img.icons8.com/external-those-icons-fill-those-icons/24/000000/external-dislike-touch-gestures-those-icons-fill-those-icons.png"/>{{quote.downvote}}
               
            </div>
            <div class="date">
              {{quote.date | timepipe}}             
            </div>
          </div>
        </div>
      </div>
     
    </div>
</div>



